html {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/pink dust.png");
    background-color: black;
}

#container {
    padding: 0 25px;
}


#title{
    color: white;
    display: flex;
    margin-bottom: 1rem; 
}

#title h1 {
    background-color: rgb(165, 25, 25);
    margin: 0;
    padding: 1rem;
}


#instructions{
    background-color: green;
    color: white;
    width: 50%;
    padding: 1rem;
    margin-bottom: 1rem; 
    font-size: 1.5rem;
}

#instructions p{
    margin: 0rem;
}



#console div:first-of-type {
    background-color: green;
    font-size: 2rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 25%;

}

#computerNum{
    display: block;
}

#scores{
    background-color: gray;
    width: 15%;
    padding: .5rem 1rem;

    /* margin: 1rem; */

}

#crystals{
    margin-bottom: 1rem; 

}

#console {
    display: flex;
    margin-bottom: 1rem; 

}

#score-details {
    
    max-width: 20%;
}

#score-details h3,
#score-details div {
    background-color: tomato;
    padding: 1rem;
}

#score {
    margin-bottom: 2rem;
    display: inline-block;
}



